body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    font-size : 20px;
    margin-top : 2px;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: left;
}

header img {
    width: 100px;
}

.lek{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.menu{
    margin-top: -110px;
    margin-bottom: 40px;
    text-align: center;
}
.button-28 {

  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 0px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


.ligne{
    background-color:black;
    height : 1px;
}

main {
    padding: 20px;
    text-align: center;
}

.diaporama-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin: 20px;
}

  .slides {
    display: none;
  }

  .slides2 {
    display: none;
  }

  .container2, .container3 {
    position: relative;
    width: 70%; 
    margin: auto; 
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    z-index: 1; 
}

.prev {
    left: 100px; 
}

.next {
    right: 100px; 
}
  
  .prev:hover,
  .next:hover {
    background: rgba(0, 0, 0, .8);
  }


